h1 {
	color : blue;
	text-align: center;
}

table {
	border: 2px solid red;
	color: blue;
	border-collapse: collapse;
	width: 50%;

}



td, th {
	border: 1px solid blue;
	padding: 5px;
	text-align: center;
}